<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="/javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js">
   </script>

    </head>
    <body>

<table height='240' align='center' id="applyInfo">
    <tr>
        <td colspan='2' align="center" style="font-size: 2em">
            商品详细信息
        </td>
    </tr>
    <tr>
        <td align='right'>商品名称:</td>
        <td>
            <%-rs.goodsname%>
        </td>
    </tr>
    <tr>
        <td align='right'>商品价格:</td>
        <td>
            <%-rs.price%>
        </td>
    </tr>
    <tr>
        <td align='right'>好评度:</td>
        <td>
            <%-rs.praise%>
        </td>
    </tr>
    <tr>
        <td align='right'>商品介绍:</td>
        <td>
            <%-rs.goodsintro%>
        </td>
    </tr>
    
    <tr>
        <td align='right'>商品图片:</td>
        <td>
            <img src="<%-rs.goodsimg%>" width="300px" height="300px"/>
        </td>
    </tr>
 
    <tr style="margin-top: 10px">
   <td align='right'> <button type="button" class="btn btn-danger ">立即购买</button>&nbsp;</td>
                      <td align='right'>  <a href="/pay/putshopping?goodsid=<%-rs.id%>" target='_blank'><button type="button" class="btn btn-danger ">放入购物车</button></a>&nbsp;</td>
    </tr>
   
</table>
</body>
</html>