<table height='240' align='center' id="applyInfo">
    <tr>
        <td colspan='2' align="center">
            商品详细信息
        </td>
    </tr>
    <tr>
        <td align='right'>商品名称:</td>
        <td>
            <%-rs.goodsname%>
        </td>
    </tr>
    <tr>
        <td align='right'>商品价格:</td>
        <td>
            <%-rs.price%>
        </td>
    </tr>
    <tr>
        <td align='right'>好评度:</td>
        <td>
            <%-rs.praise%>
        </td>
    </tr>
    <tr>
        <td align='right'>商品介绍:</td>
        <td>
            <%-rs.goodsintro%>
        </td>
    </tr>
    
    <tr>
        <td align='right'>商品图片:</td>
        <td>
            <img src="<%-rs.goodsimg%>" width="300px" height="300px"/>
        </td>
    </tr>
    
   
</table>